*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#f4e4ba;
    text-transform: capitalize;
    background: linear-gradient(-180deg , #dcd5d3, #8e8287, #7b888e, #b3c3bf);
background-size: 100% 100%;    
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 60vh;
    min-height: 45vh;
}
form{
    margin: 2rem 0 1rem 0;
    text-transform: capitalize;
}
form select ,button ,input{
    width: 100%;
    border: none;
    outline: none;
border-radius: 0.75rem;

}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left:0.5rem ;
}
.drop_down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.drop_down i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
   max-width: 2rem; 
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    width: 6rem;
    
    
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: #546244;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
    text-transform: capitalize;
}
form button:hover{
    cursor: pointer;
   
    color: bisque;
    height: 2.9rem;
    width: 20rem;
    box-shadow: 5px 5px 5px rgb(154, 152, 152) inset;
}
